.lower-page {
  display: flex;
  gap: 32px;
  padding: 32px 24px;
  background: #fff;
  width: 100vw;
  min-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
}

.lower-filter {
  min-width: 180px;
  max-width: 200px;
  padding-right: 24px;
}

.lower-filter h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.lower-filter-group h3 {
  font-size: 1rem;
  margin-bottom: 8px;
}

.lower-filter-clear {
  font-size: 0.9rem;
  margin-left: 8px;
  text-decoration: underline;
  cursor: pointer;
}

.lower-filter-group {
  margin-bottom: 14px;
}

/* CAMBIAR */
.lower-filter-sizes {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.lower-size-btn {
  border: 2px solid #222;
  background: #fff;
  color: #222;
  font-size: 1rem;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.lower-filter-price {
  margin-top: 8px;
}

.lower-filter-price-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  margin-top: 4px;
}

.lower-filter-colors {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.lower-color-box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.lower-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.lower-sort {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.lower-sort-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.lower-sort-select {
  font-size: 1.1rem;
  margin-left: 8px;
}

.lower-products {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.lower-card {
  box-shadow: 0 2px 8px #eee;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: none;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 32px;
  transition: box-shadow 0.2s;
}
.lower-card:hover {
  box-shadow: 0 4px 24px rgba(229,115,115,0.15);
}
.lower-card-heart {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.6rem;
  color: #e57373;
  z-index: 2;
  border-radius: 50%;
  padding: 2px 6px;
}

.lower-card-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.lower-card-name {
  font-size: 1.2rem;
  margin: 16px 0 6px 18px;
  font-weight: 500;
  color: #222;
}

.lower-card-prices {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 18px;
  margin-bottom: 16px;
}
.lower-card-price {
  color: red;
  font-size: 1.2rem;
}

.lower-card-oldprice {
  text-decoration: line-through;
  color: #888;
  font-size: 1.1rem;
}
.lower-card-price-black {
  color: #222; 
}