.style-page {
  display: flex;
  gap: 32px;
  padding: 32px 24px;
  background: #fff;
  width: 100vw;
  min-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
}

.style-filter {
  min-width: 180px;
  max-width: 200px;
  padding-right: 24px;
}

.style-filter h2 {
  font-size: 1rem;
  margin-bottom: 30px;
}

.style-filter-group h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.style-filter-clear {
  font-size: 0.9rem;
  margin-left: 8px;
  text-decoration: underline;
  cursor: pointer;
}

.style-filter-group {
  margin-bottom: 14px;
}

.style-filter-sizes {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.style-size-btn {
  border: 2px solid #222;
  background: #fff;
  color: #222;
  font-size: 1rem;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.style-filter-price {
  margin-top: 8px;
}

.style-filter-price-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  margin-top: 4px;
}

.style-filter-colors {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.style-color-box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.style-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.style-sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 28px;
  margin-right: 54px;
  justify-content: flex-end;
}

.style-sort-select {
  font-size: 0.95rem;
  padding: 6px 10px 6px 12px;
  border: 1px solid #222;
  border-radius: 10px;
  background: #fff;
  color: #222;
  cursor: pointer;
  appearance: none;
  outline: none;
  font-family: inherit;
  font-weight: 350;
  transition: border 0.2s;
  
}

.style-products {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.style-card {
  box-shadow: 0 2px 8px #eee;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: none;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 32px;
  transition: box-shadow 0.2s;
}
.style-card:hover {
  box-shadow: 0 4px 24px rgba(229,115,115,0.15);
}
.style-card-heart {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.6rem;
  color: #e57373;
  z-index: 2;
  border-radius: 50%;
  padding: 2px 6px;
}

.style-card-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.style-card-name {
  font-size: 1.2rem;
  margin: 16px 0 6px 18px;
  font-weight: 500;
  color: #222;
}
.style-card-img-wrapper {
  position: relative;
}

.style-card-prices {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 18px;
  margin-bottom: 16px;
}
.style-card-price {
  color: red;
  font-size: 1.2rem;
}
.style-card-oldprice {
  text-decoration: line-through;
  color: #888;
  font-size: 1.1rem;
}
.style-card-price-black {
  color: #222 !important;
}
.style-card-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  z-index: 2;
  padding: 0;
  background: none;
}
.style-card-arrow-left {
  left: 10px;
}
.style-card-arrow-right {
  right: 10px;
}
